* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

header {
    height: 70px;
    position: sticky;
    z-index: 10000;
    display: flex;
    top: 0px;
    background-color: rgb(203, 196, 196);
    
}

a.tbl-biru {
    background: blue;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: whitesmoke;
    font-weight: bold;
}

a.tbl-biru:hover {
    background-color: #364f6b;
    color: white;
}

header h1 {
    display: inline-block;
    float: left;
    padding: 16px 24px;
    text-transform: uppercase;
}

header h1 a {
    transition: .3s;
}
header a:hover {
    color: red;
}
header ul {
    float: right;
}

header ul li {
    padding: 24px;
    display: inline-block;
}
header ul li a {
    transition: .3s;
}
 header ul li a :hover {
    color: red;
 }
a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container ::after {
    content: '';
    clear: both;
}

.banner {
    background-color: #1f68b6;
    padding: 150px 0;
}

section {
    padding: 50px 0px;
}

.banner img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 5px;
    margin-bottom: 10px;
}

.banner h2,
.banner p {
    color: white;
}

.banner-left {
    padding-left: 24px;
}

.banner h2 {
    margin-bottom: 10px;
}

.banner p {
    font-size: 15px;
}

.container h3 {
    padding-bottom: 20px;
    text-align: center;
    margin: 15px;
    font-size: 200%;
    color: black;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: green;
    padding-top: 2%;
}



.kolom p {
    text-align: center;
}

.kolom h2 {
    text-align: center;
}

.picture-kiw {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kiwkiw {
    width: 20%;
    margin: 0 auto;

}

.kiwkiw img {
    width: 250px;
    border-radius: 50%;
    padding-top: 20%;
}

#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
}

.footer-section {
    width: 20%;
    margin:  0 auto;
}

h3 {
    font-family: comic "sans ms";
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

.wrapper-copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

.tanguh {
    margin-top: 10%;
}

